/*algemeen*/

body {
    width: auto;
    height: 100%;
    font-family: sans-serif;
    margin: 0;
    background-color: black;
    background-image: url("../content/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
}


#activeTurn {
    position: relative;
    top:10%;
    width: 70%;
    background-color: #731094;
}


#backGround img {
    width: 100%;
    height: 100vh;
    opacity: 0.6;
}

.input {
    font-size: 2.4em;
    background-color: transparent;
    text-align: center;
    border-width: 0;
    width: 100%;
    margin: 0 0 .1em 0;
    color: #fff;
}

#popUpBox{
    width: 80%;
    height: 60%;
    background-color: grey;
    border: 5px solid rgb(104, 9, 9);
    position: absolute;
    top: 20%;
    left: 10%;

}


/*start pagina*/
#startDiv{
    width: 100%;
    height: 100%;
    position:absolute;
    left:0%;
    top:0%;
}

/* gebruikersnaam kiezen */ 

#chooseName {
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0%;
    top: 0%;
}

#login {
    width: 50%;
    margin: auto;
    background-color: rgb(2, 20, 70);
    border: 5px solid rgb(104, 9, 9);
    border-radius: 30%;
    position: relative;
    top: 15%;
    padding: 10px;
    color: rgb(112, 3, 3);
    text-align: center;
    font-family: 'Segoe Print';
    font-size: 120%;
    font-weight: bolder;
}

.userName {
    text-align: left;
    font-family: Tahoma;
    position: absolute;
    top: 100px;
    left: 25%;
    font-weight: bold;
    font-size: 50px;
    color: #c60e0e;
}

#button{
    width: 50%;
    margin: auto;
    background-color: rgb(16, 48, 1);
    border: 5px solid rgb(8, 8, 8);
    border-radius: 30%;
    padding: 5px;
    color: rgb(112, 3, 3);
    position: relative;
    top:10%;
}

#chooseColor{
    width: 50%;
    margin: auto;
    background-color: rgb(2, 66, 240);
    border: 5px solid white;
    border-radius: 30%;
    padding: 5px;
    color: black;
}

/* color kiezen */

#colorPicker {
    width: 90%;
    height: 65%;
    position: absolute;
    border: 5px dotted brown;
    left: 5%;
    top: 30%;
}

div.ColorPickBox {
    position: absolute;
    background-color: grey;
    margin: 5px;
    width: 80px;
    height: 80px; 
    border: 2px solid white;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    border-radius: 100px;
    display: inline-block;
}

div.ColorPickBox:hover {
    border: 2px solid black;
}
#textColor {
    width: 50%;
    margin: auto;
    background-color: rgb(2, 20, 70); 
    border: 5px solid rgb(104, 9, 9);
    border-radius: 50%;
    padding: 10px;
    color: rgb(112, 3, 3);
    text-align: center;
    font-family: 'Segoe Print';
}

/*collor buttons*/

#ColorBlue {
    background: rgb(0,0,255);
    position: absolute;
    top: 19%;
    left: 5%;
}

#ColorRed {
    background: rgb(255,0,0);
    position: absolute;
    top: 19%;
    left: 38%;
}

#ColorGreen {
    background: #00FF00;
    position: absolute;
    top: 19%;
    left: 71%;
}

#ColorYellow {
    background: Yellow;
    position: absolute;
    top: 46%;
    left: 5%;
}

#ColorOrange {
    background: Orange;
    position: absolute;
    top: 46%;
    left: 38%;
}

#ColorPink{
    background: Pink;
    position: absolute;
    top: 46%;
    left: 71%;
}

#ColorBrown {
    background: Brown;
    position: absolute;
    top: 71%;
    left: 5%;
}

#ColorGray {
    background: Gray;
    position: absolute;
    top: 71%;
    left: 38%;
}

#ColorPurple {
    background: Purple;
    position: absolute;
    top: 71%;
    left: 71%;
}

div.ColorPickBox {
    position: absolute;
    background-color: grey;
    margin: 5px;
    width: 80px;
    height: 80px; 
    border: 2px solid white;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    border-radius: 100px;
    display: inline-block;
}

div.ColorPickBox:hover {
    cursor: pointer;
    border: 2px solid black;
}

/*controls/ingame */
#gameDiv{
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

#not_active {
    color: #c60e0e;
}

#active{
    color: #00FF00;
    display: none;
}



#topBox {
    position: block;
    margin: auto;
    size: 50%;
    background-color: grey;
}

#inventoryScreen {
    width: auto;
    height: auto;
    background: #000;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: #731094;
    border-radius: 15px;
    box-shadow: 5px 5px 2px;
    position: absolute;
    top: 10%;
    left: 5%;
}

#notepadScreen{
    width: auto;
    height: auto;
    background: #000;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: #731094;
    border-radius: 15px;
    box-shadow: 5px 5px 2px;
    position: absolute;
    top: 20%;
    left: 5%;
}

#notepadScreen1{
    width: auto;
    height: auto;
    background: #000;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: #731094;
    border-radius: 15px;
    box-shadow: 5px 5px 2px;
    position: absolute;
    top: 10%;
    left: 50%;
}

#controlsBox{
    width: 100%;
    height: 60%;
    position: absolute;
    top: 30%;
    left: 5%;
    border: 5px dotted brown;

}

#actionCounter{
    width: 25%;
    height: 10%;
    position: absolute;
    top: 10%;
    left: 70%;
}

.box {
    background-color: #444;
    color: #C4BE92;
    text-align: center;
    -webkit-border-radius: 12px;
    border-radius: 12px; 
    -moz-background-clip: padding; 
    -webkit-background-clip: padding-box; 
    background-clip: padding-box;
    padding: .8em .8em 1em;
    width: 8em;
    position: absolute;
    top: 35%;
    left: 17%;
    -webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
}

/* controls*/

#left {
    width: 25%;
    height: 20%;
    background: url(../content/left.png);
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    left: 5%;
    top: 40%;
    
}

#right {
    width: 25%;
    height: 20%;
    background: url(../content/right.png);
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 70%;
}


#up {
    width: 25%;
    height: 20%;
    background: url(../content/up.png);
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 37.5%;
}



#down {
    width: 25%;
    height: 20%;
    background: url(../content/down.png);
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    top: 70%;
    left: 37.5%;
}



#action {
    width: 30%;
    height: 20%;
    background-color: black;
    border: 5px solid black;
    color: red;
    text-align: center;
    font-family: 'Segoe Print';
    font-size: 150%;
    font-weight: bolder;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 35%;
}

/* Inventory */

#inventoryDiv{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0%;
    top: 0%;
}

#middleBox{
    width: 90%;
    height: 15%;
    position: absolute;
    left: 5%;
    top: 2%; 
}



#main {
    width: auto;
    height: auto;
    background: #000;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: #731094;
    border-radius: 15px;
    box-shadow: 5px 5px 2px;
    position: absolute;
    top: 5%;
    left: 5%;
}

#main1 {
    width: auto;
    height: auto;
    background: #000;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: #731094;
    border-radius: 15px;
    box-shadow: 5px 5px 2px;
    position: absolute;
    top: 10%;
    left: 60%;
}

#bottomBox{
    width: 90%;
    height: 70%;
    border: 5px dotted brown;
    position: absolute;
    left: 5%;
    top: 20%;
}

/*inventory boxen*/

#inventoryBox1{
    width: 35%;
    height: 25%;
    border: 5px dotted brown;
    position: absolute;
    background-color: grey;
    left: 5%;
    top: 5%;
}

#inventoryBox2{
    width: 35%;
    height: 25%;
    border: 5px dotted brown;
    position: absolute;
    background-color: grey;
    left: 30%;
    top: 35%;
}

#inventoryBox3{
    width: 35%;
    height: 25%;
    border: 5px dotted brown;
    position: absolute;
    background-color: grey;
    left: 55%;
    top: 65%;
}

/* geen idee waarvoor dacht dat iets met colorpicker was */

#ddd{
    display: block;
    padding-top: 200px;
    margin: 100px;
    height: 100px;
    width: 100px;
    margin-bottom: 200px;
}

div.result {
    width:50px;
    height: 50px;
    position: center;
}
